body {
    margin: 0px;
    overflow-x: hidden;
}

header {
    font-size: 300%;
    font-family: monospace;
}

nav {
    position: sticky;
    top: 0vh;
    margin-top: 5vh;
    padding-top: 2vh;
    height: 5vh;
    width: 100vw;
    border: solid 1px black;
}

#welcome {
    margin-left: 1vw;
    position: absolute;
}

#play {
    margin-left: 48vw;
    position: absolute;
}

#create {
    position: absolute;
    margin-left: 58vw;
}

#contact {
    position: absolute;
    margin-left: 70vw;
}

#home {
    position: absolute;
    margin-left: 80vw;
}

#log {
    margin-left: 90vw;
}

a {
    text-decoration: none;
    color: black;
}
